.class{
    background-color: #233554;
    width: 350px;
    border: 6px solid #ccd6f6;
    padding: 40px;
    margin: 20px;

}

#input{
    font-size: 1.4em;


}

#title{
    font-size: 1.3em;

}

#description{
    font-size: 1.3em;
    

}